<div class="col-6 mr-auto ml-auto mt-5">
    <form [formGroup]='registerInfo' (ngSubmit)='onSubmit(registerInfo.value)'>
      <div class="form-group">
        <label for="email">First name</label>
        <input class="form-control" type="text" formControlName='firstname' id="firstname">
        <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
          <span id="firstname-error">You must provide an firstname.</span>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Last name</label>
        <input class="form-control" type="text" formControlName='lastname' id="lastname">
        <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
          <span id="lastname-error">You must provide an lastname.</span>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Birthdate</label>
        <input class="form-control" type="date" formControlName='birthdate' id="birthdate">
        <div *ngIf="birthdate.invalid && (birthdate.dirty || birthdate.touched)" class="alert alert-danger">
          <span id="birthdate-error">You must provide an birthdate.</span>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="text" formControlName='email' id="email">
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          <span id="email-error">You must provide a valid email.</span>
        </div>
      </div>
  
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" formControlName='password' id="password">
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
          <span id="password-error">You must provide a Password.</span>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-4">
          <button id="register-submit" type="submit" class="form-control btn btn-success" [disabled]="!registerInfo.valid">Register</button>
        </div>
        <a routerLink="/login" class="link col-lg-8">Already registered? Click and sign in!</a>
      </div>
    </form>
  </div>
  