<div *ngIf="!hasTodoList" class="mt-5">
  <form [formGroup]="todoListForm" (ngSubmit)="createTodoList(todoListForm)">
    <label for="list-name" class="form-check-label">Todo list name:</label>
    <div class="row mr-auto ml-auto align-items-center">
      <div class="form-group col-6">
        <input id="list-name" type="text" class="form-control" formControlName="name">
      </div>
      <div class="form-group">
        <button class="btn btn-outline-success "
                [disabled]="!todoListForm.valid">Create</button>
      </div>
    </div>
  </form>
</div>

<ng-template>
  <div>
    <form [formGroup]=""></form>
  </div>
</ng-template>
